# Application settings
APP_TOKEN=
APP_WEBHOOK_USE=false
APP_DEBUG=true
APP_PRODUCTION=false

# Server settings


# Application settings
LOG_LEVEL=DEBUG
PROJECT_NAME=Template
PROJECT_VERSION=0.1.0


# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=63122
REDIS_PASSWORD=
REDIS_APP_KEY_PREFIX=bot:app:
REDIS_FSM_KEY_PREFIX=bot:fsm
REDIS_MAX_CONNECTIONS=10
REDIS_FSM_MAX_CONNECTIONS=5

# NATS
NATS_SERVERS=["nats://127.0.0.1:4222"]
NATS_USER=admin
NATS_PASSWORD=123456789123456789123456789123456789
